/* CSS File for the Calendar Page */

/* Container for the calendar */
.calendar-container {
    width: 80%;
    max-width: 900px;
    margin: 20px auto;
}

/* Header for Previous Week, Week of, and Next Week */
.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

/* Text for Week of (current date) */
.calendar-header h2{
    color: #1F5014;
}

/* Previous Week and Next Week Button */
button {
    padding: 10px;
    background-color: #1F5014;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Previous Week and Next Week Button Hover */
button:hover {
    background-color: #1F5014;
}

/* Calendar formatting */
.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
}

/* Day Cell Formatting */
.day {
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    color: #1F5014;
}

/* Name of the day formatting */
.day h3 {
    margin: 0;
    font-size: 18px;
    color: #1F5014;
}

/* Spacing below the name of day for added meals */
.events {
    margin-top: 10px;
}

/* Add Meal Container */
.add-event-container {
    margin: 20px auto;
    width: 80%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Formatting for Enter meal and picking the day section */
.add-event-container input,
.add-event-container select,
.add-event-container button {
    padding: 10px;
    margin-top: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Add Meal Button Formatting */
.add-event-container button {
    background-color: #1F5014;
    color: #fff;
    cursor: pointer;
}

/* Add Meal Button Hovering */
.add-event-container button:hover {
    background-color: #14360c;
}

/* Meal inside of calendar formatting */
.event-item {
    margin-top: 5px;
    padding: 5px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #1F5014;
}

/* Generate Grocery List and Prep List Button Container */
.button-container {
    margin: 40px auto; /* Increase spacing from the add-event-container */
    display: flex;
    justify-content: space-around; /* More separation between the buttons */
    width: 80%;
    max-width: 900px;
}

/* Generate Grocery List and Prep List Buttons */
#generate-shopping-list,
#generate-prep-list {
    padding: 10px 15px;
    font-size: 16px;
    background-color: #1F5014;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
/* Generate Grocery List and Prep List Button Hovering */
#generate-shopping-list:hover,
#generate-prep-list:hover {
    background-color: #0b311b;
}